@tailwind base;
@tailwind components;
@tailwind utilities;

/* PRIMARY COLORS:
HEX: #161D2B
RGB: 22 29 43
HSL: 217 32% 13%

HEX: #5AA3F2
RGB: 90 163 242
HSL: 211 85% 65%

HEX: #552EF0
RGB: 85 46 240
HSL: 252 87% 56%
*/

/* SECONDARY COLORS:
HEX: #5279FF
RGB: 82 121 255
HSL: 226 100% 66%

HEX: #B48CFF
RGB: 180 140 255
HSL: 261 100% 77%
*/

/* WHITE COLORS:
HEX: #CECECE
RGB: 206 206 206
HSL: 0 0% 81%

HEX: #ffffff
RGB: 255 255 255
HSL: 0 0% 100%
*/

@layer base {
  :root {
    --background: 217 32% 13%;
    --foreground: 0 0% 100%;

    --card: 0 0% 26%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 26%;
    --popover-foreground: 0 0% 100%;

    --primary: 252 87% 56%;
    --primary-foreground: 0 0% 100%;

    --secondary: 261 100% 77%;
    --secondary-foreground: 0 0% 100%;

    --muted: 261 100% 77%;
    --muted-foreground: 0 0% 60%;

    --accent: 261 100% 77%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 40%;
    --input: 0 0% 40%;
    --ring: 0 0% 81%;

    --radius: 0.5rem;

    --plot: 0 0% 19%;
    --plot-paper: 0 0% 19%;
    --plot-foreground: 0 0% 88%;
    --plot-title: 0 0% 100%;
    --plot-xaxis-grid: 0 0% 31%;
    --plot-xaxis-zeroline: 0 0% 44%;
    --plot-yaxis-grid: 0 0% 31%;
    --plot-yaxis-zeroline: 0 0% 44%;
    --plot-legend: 0 0% 19%;
    --plot-legend-foreground: 0 0% 88%;
  }
  [data-kb-theme='light'] {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --plot: 0 0% 80%;
    --plot-paper: 0 0% 80%;
    --plot-foreground: 0 0% 88%;
    --plot-title: 0 0% 0%;
    --plot-xaxis-grid: 0 0% 80%;
    --plot-xaxis-zeroline: 0 0% 44%;
    --plot-yaxis-grid: 0 0% 80%;
    --plot-yaxis-zeroline: 0 0% 44%;
    --plot-legend: 0 0% 0%;
    --plot-legend-foreground: 0 0% 20%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  min-width: 600px;
}
