*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: 'IBM Plex Sans', sans-serif;
}

:root {
  --white-color: #fff;
  --primary-inverted: #161d2b;
  --primary-text-inverted: var(--white-color);
  --bg-primary-inverted: var(--primary-inverted);
  --bg-primary-hover: rgba(255, 255, 255, 0.08);
  --primary-border-radius: 4px;
  --space-unit-xs: 4px;
  --space-unit-sm: 8px;
  --space-unit-md: 12px;
  --space-unit-lg: 18px;
  --space-unit-xl: 24px;
  --space-unit-xxl: 32px;
}

body {
  width: 780px;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: var(--space-unit-xs);
}
::-webkit-scrollbar-track {
  background-color: var(--white-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--bg-primary-inverted);
  border-radius: var(--primary-border-radius);
}

a {
  text-decoration: none;
}

.alch-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-primary-inverted);
  color: var(--primary-text-inverted);
  padding: var(--space-unit-md) var(--space-unit-lg);
}
.alch-header .alch-header-left > a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.alch-header .alch-header-left a {
  font-size: 24px;
  color: var(--primary-text-inverted);
  font-weight: 400;
}
.alch-header-right button {
  border: none;
  background-color: var(--bg-primary-inverted);
  color: var(--primary-text-inverted);
  border-radius: 50%;
  padding: var(--space-unit-sm);
}
.alch-header-right button:hover {
  background-color: var(--bg-primary-hover);
  cursor: pointer;
}
.alch-header-right svg {
  height: 18px;
  width: 18px;
  fill: var(--primary-text-inverted);
}
.alch-header img {
  object-fit: contain;
  width: 28px;
  margin-right: var(--space-unit-sm);
}

[id^='stats-'] {
  font-size: 1rem;
  margin: 1rem 0;
}

#monte-carlo-inputs {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}
#monte-carlo-inputs > *,
#details > * {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}
#details {
  display: flex;
  flex-direction: row;
}
#details #monte-carlo-inputs {
  max-width: 25rem;
  flex: 1;
}
#details #stats {
  flex: 2;
}
